//Kasa-app\src\styles\App.sass
// Variables
$primary-color: #FF6060
$react-color: #61dafbaa
$docs-color: #888

// Root styles
#root
  width: 100%
  margin: 0 auto
  padding: 1rem
  text-align: center

// Media queries pour les écrans plus larges
@media only screen and (min-width: 481px)
  #root
    margin: 0 100px
    padding: 2rem
    text-align: center
