// Variables
$background-color-overlay: rgba(0, 0, 0, 0.5)
$primary-color: #FFF
$font-family-primary: 'Montserrat', sans-serif

.background
    position: relative
    width: 100%
    padding-bottom: 1.375rem // 22px
    display: flex
    justify-content: center
    align-items: center

    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 6.9375rem // 111px
        background: $background-color-overlay
        z-index: 1
        border-radius: 0.625rem // 10px

    img
        width: 100%
        height: 6.9375rem // 111px
        border-radius: 0.625rem // 10px
        object-fit: cover
        z-index: 0

    .tagline
        color: $primary-color
        font-family: $font-family-primary
        font-size: 1.5rem // 24px
        font-weight: 700
        line-height: 100%
        position: absolute
        top: 32%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 2
        text-align: center
        width: 100%
        padding: 0 1.25rem // 20px
        box-sizing: border-box

@media only screen and (min-width: 780px)
    .background
        height: 13.9375rem // 223px
        border-radius: 1.5625rem // 25px
        padding-bottom: 2.6875rem // 43px

        &::before
            border-radius: 1.5625rem // 25px
            height: 13.9375rem // 223px

        img
            border-radius: 1.5625rem // 25px
            height: 13.9375rem // 223px

        .tagline
            font-size: 3rem // 48px
            line-height: 142.6%
            width: auto
            padding: 0 2.5rem // 40px
            white-space: nowrap
