// Variables
$primary-color: #FF6060
$text-color: #000000
$font-family: Montserrat
$header-width: 1240px
$header-height: 68px
$logo-width: 210.32px
$logo-height: 68px
$gap-large: 720.678px
$gap-small: 20px

// Styles globaux
body
  margin: 0
  font-family: $font-family

// Styles de l'en-tête
.header
  
  width: $header-width
  height: $header-height
  justify-content: space-between
  align-items: center
  gap: $gap-large
  display: inline-flex
  padding-top: 45px
  padding-bottom: 50px
  //flex-direction: column

  //gap: 50px


// Styles du logo
.logo
  img
    width: $logo-width
    height: $logo-height
    gap: 0px
    opacity: 0px

// Styles de la navigation
.nav
  ul
    display: flex
    align-items: flex-start
    gap: 57px
    list-style: none

    li
      margin: 0

      a
        font-size: 24px
        text-decoration: none
        color: $text-color
        font-weight: 500
        font-size: normal
        line-height: 142.6%

        &:hover
          text-decoration-line: underline
