//Kasa-app\src\styles\Banner.sass
  // Variables
$primary-color: #FF6060
$text-color: #000000
$font-family: Montserrat
$gap-small: 20px

// Styles de l'en-tête
.header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  gap: $gap-small

// Styles du logo
.logo
  width: 145px
  height: 46px

// Styles de la navigation
.nav
  display: flex
  gap: 10px

  a
    color: $text-color
    text-align: right
    font-family: $font-family
    font-size: 12px
    font-weight: 500
    line-height: 142.6%
    text-decoration: none
    white-space: nowrap

    &:hover
      text-decoration-line: underline

// Media queries
@media only screen and (min-width: 481px)
  .header
    height: 68px
    padding-top: 45px
    padding-bottom: 50px

  .logo
    width: 210.32px
    height: 68px

  .nav
    a
      font-size: 24px
      line-height: 142.6%
      margin-left: 20px
      gap: 57px
