// Variables
// Variables
$primary-color: #FF6060
$background-color-light: #F6F6F6
$font-family-primary: 'Montserrat', sans-serif

.fiche-logement
    margin: 1.6875rem 0 // 27px
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    max-width: 100% // Correction du dépassement

.carousel
    position: relative
    width: 95%
    max-width: 100% // Correction du dépassement
    border-radius: 25px
    overflow: hidden
    margin: 43px auto
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    aspect-ratio: 16/9

    img
        border-radius: 10px
        bottom: 0
        height: 100%
        left: 0
        mix-blend-mode: normal
        object-fit: cover
        position: absolute
        right: 0
        top: 0
        width: 100%
        max-width: 100% // Correction du dépassement
        align-items: center
        display: flex

    .carousel-btn
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 3rem // Ajustez la largeur des boutons
        height: 3rem // Ajustez la hauteur des boutons
        background: none
        border: none
        cursor: pointer
        z-index: 2
        display: flex
        align-items: center
        justify-content: center

        svg
            width: 24px
            height: 24px
            fill: white

        &.prev
            left: 1rem // 10px

        &.next

            right: 1rem // 10px

    .image-counter
        position: absolute
        bottom: 1.5625rem // 25px
        left: 50%
        transform: translateX(-50%)
        color: white
        font-size: 1.125rem // 18px

.logement-info
    width: 100%
    max-width: 77.5rem // 1240px
    margin-top: 1.25rem // 20px
    padding: 0 1.25rem // 20px

    .logement-header
        display: flex
        flex-direction: column
        gap: 1.25rem // 20px
        margin-bottom: 1.25rem // 20px
        text-align: start

        .title-location
            h1
                color: $primary-color
                font-family: $font-family-primary
                font-size: 1.125rem // 18px
                font-weight: 500
                line-height: 142.6%

            p
                color: #000
                font-family: $font-family-primary
                font-size: 0.875rem // 14px
                font-weight: 500
                line-height: 142.6%

            .tags
                display: flex
                gap: 0.625rem // 10px
                flex-wrap: wrap

                .tag
                    background: $primary-color
                    color: white
                    padding: 0.1875rem 0.9375rem // 3px 15px
                    border-radius: 0.625rem // 10px
                    font-family: $font-family-primary
                    font-size: 0.625rem // 10px
                    font-weight: 700
                    line-height: 142.6%

        .host-rating
            display: flex
            justify-content: space-between
            align-items: center
            flex-direction: row-reverse

            .host
                display: flex
                align-items: center
                gap: 0.625rem // 10px

                span
                    color: $primary-color
                    text-align: right
                    width: 5.8125rem // 93px
                    font-size: 0.75rem // 12px

                img
                    width: 2rem // 32px
                    height: 2rem // 32px
                    border-radius: 50%

            .rating
                .star
                    color: #E3E3E3
                    font-size: 0.8125rem // 13px

                    &.filled
                        color: $primary-color

    .details
        display: flex
        flex-direction: column
        gap: 1.25rem // 20px
        width: 100%
        margin-top: 1.5rem // 24px

    .collapsible-section
        background-color: $primary-color
        border-radius: 0.625rem // 10px
        overflow: hidden
        font-size: 0.8125rem // 13px

        button.collapsible
            width: 100%
            padding: 0.625rem 1.25rem // 10px 20px
            background-color: $primary-color
            color: white
            border: none
            text-align: left
            font-size: 0.8125rem // 13px
            cursor: pointer
            display: flex
            justify-content: space-between
            align-items: center

        .ArrowIconCollapse
            transform-origin: center
            transition: transform 0.3s ease

            &.rotate
                transform: rotate(180deg)

        .content
            background-color: $background-color-light
            color: #000
            max-height: 0
            overflow: hidden
            transition: max-height 0.3s ease
            font-size: 0.8125rem // 13px
            text-align: left

            &.active
                max-height: 31.25rem // 500px
                padding: 1.25rem 0.625rem // 20px 10px
                list-style: none
                font-size: 1.125rem // 18PX

            p, ul
                margin: 0
                padding: 0
                list-style: none
                size: 1.125rem // 18px
                padding-left: 0.9375rem // 15px
                text-align: left
                line-height: 142.6%
                font-family: $font-family-primary

// Styles pour les écrans plus larges
@media only screen and (min-width: 481px)
    .fiche-logement
        margin: 3.125rem 0 // 50px

    .carousel
        width: 77.5rem // 1240px
        height: 25.9375rem // 415px

        img
            border-radius: 1.5625rem // 25px

        .carousel-btn
            width: 96px
            height: 119px
            top: 50%
            transform: translateY(-50%)

            &.prev
                left: 23.36px

            &.next
                right: 23.36px
            svg
                width: 48px
                height: 48px
                fill: white
        .image-counter
            font-size: 1.125rem // 18px

    .logement-info
        .logement-header
            flex-direction: row
            justify-content: space-between
            align-items: flex-start
            gap: 1.875rem // 30px

            .title-location
                h1
                    font-size: 2.25rem // 36px

                p
                    font-size: 1.125rem // 18px

                .tag
                    font-size: 0.875rem // 14px

            .host-rating
                display: flex
                flex-direction: column-reverse
                align-items: flex-end
                gap: 1.25rem // 20px
                min-width: fit-content-webkit-fill-available
                margin-top: 2.5rem // 40px

                .host
                    display: flex
                    align-items: center
                    gap: 0.625rem // 10px
                    order: 2

                    span
                        font-size: 1.125rem // 18px

                    img
                        width: 4rem // 64px
                        height: 4rem // 64px

                .rating
                    order: 1
                    display: flex
                    gap: 0.3125rem // 5px

                    .star
                        font-size: 1.5rem // 24px

        .details
            display: flex
            flex-direction: row
            gap: 4.75rem // 76px
            width: 100%
            align-items: flex-start

            .collapsible-section
                flex: 1

                button.collapsible
                    font-size: 1.5rem // 24px
                    padding: 0.9375rem 1.25rem // 15px 20px

                .content
                    &:active
                        p
                            font-size: 1.125rem // 18px

// Styles pour les tablettes
    @media only screen and (min-width: 768px) and (max-width: 1023px)
    .carousel
        .carousel-btn

            width: 46.68px
            height: 79.2px
            top: 8.4px
            &.prev
                left: 23.36px

            &.next
                right: 23.36px
