//Kasa-app\src\styles\FicheLogement.sass
// Variables
$primary-color: #FF6060
$background-color-light: #F6F6F6
$font-family-primary: 'Montserrat', sans-serif

.fiche-logement
    margin: 27px 0
    display: flex
    flex-direction: column
    align-items: center
    width: 100%

.carousel
    position: relative
    width: 335px
    height: 255px
    flex-shrink: 0

    img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 10px

    .carousel-btn
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 24px
        height: 24px
        background: none
        border: none
        cursor: pointer
        z-index: 2
        display: flex
        align-items: center
        justify-content: center

        &.prev
            left: 10px

        &.next
            right: 10px
            transform: rotate(90deg)

    .image-counter
        position: absolute
        bottom: 25px
        left: 50%
        transform: translateX(-50%)
        color: white
        font-size: 18px

.logement-info
    width: 100%
    max-width: 1240px
    margin-top: 20px
    padding: 0 20px

    .logement-header
        display: flex
        flex-direction: column
        gap: 20px
        margin-bottom: 20px
        text-align: start

        .title-location
            h1
                color: $primary-color
                font-family: $font-family-primary
                font-size: 18px
                font-weight: 500
                line-height: 142.6%

            p
                color: #000
                font-family: $font-family-primary
                font-size: 14px
                font-weight: 500
                line-height: 142.6%

            .tags
                display: flex
                gap: 10px
                flex-wrap: wrap

                .tag
                    background: $primary-color
                    color: white
                    padding: 3px 15px
                    border-radius: 10px
                    font-family: $font-family-primary
                    font-size: 10px
                    font-weight: 700
                    line-height: 142.6%

        .host-rating
            display: flex
            justify-content: space-between
            align-items: center
            flex-direction: row-reverse

            .host
                display: flex
                align-items: center
                gap: 10px

                span
                    color: $primary-color
                    text-align: right
                    width: 93px
                    font-size: 12px

                img
                    width: 32px
                    height: 32px
                    border-radius: 50%

            .rating
                .star
                    color: #E3E3E3
                    font-size: 13px

                    &.filled
                        color: $primary-color

    .details
        display: flex
        flex-direction: column
        gap: 20px
        width: 100%
        margin-top: 24px

    .collapsible-section
        background-color: $primary-color
        border-radius: 10px
        overflow: hidden
        font-size: 13px

        button.collapsible
            width: 100%
            padding: 10px 20px
            background-color: $primary-color
            color: white
            border: none
            text-align: left
            font-size: 13px
            cursor: pointer
            display: flex
            justify-content: space-between
            align-items: center

        .ArrowIconCollapse
            transform-origin: center
            transition: transform 0.3s ease

            &.rotate
                transform: rotate(180deg)

        .content
            background-color: $background-color-light
            color: #000
            max-height: 0
            overflow: hidden
            transition: max-height 0.3s ease
            font-size: 13px
            text-align: left

            &.active
                max-height: 500px
                padding: 20px 10px
                list-style: none
                font-size: 18PX

            p, ul
                margin: 0
                padding: 0
                list-style: none
                size: 18px
                padding-left: 15px
                text-align: left
                line-height: 142.6%
                font-family: $font-family-primary

@media only screen and (min-width: 481px)
    .fiche-logement
        margin: 50px 0

    .carousel
        width: 1240px
        height: 415px

        img
            border-radius: 25px

        .carousel-btn
            width: 48px
            height: 48px

        .image-counter
            font-size: 18px

    .logement-info
        .logement-header
            flex-direction: row
            justify-content: space-between
            align-items: flex-start
            gap: 30px

            .title-location
                h1
                    font-size: 36px

                p
                    font-size: 18px

                .tag
                    font-size: 14px

            .host-rating
                display: flex
                flex-direction: column-reverse
                align-items: flex-end
                gap: 20px
                min-width: fit-content-webkit-fill-available
                margin-top: 40px

                .host
                    display: flex
                    align-items: center
                    gap: 10px
                    order: 2
                    span
                        font-size: 18px

                    img
                        width: 64px
                        height: 64px

                .rating
                    order: 1
                    display: flex
                    gap: 5px

                    .star
                        font-size: 24px

        .details
            display: flex
            flex-direction: row
            gap: 76px
            width: 100%
            align-items: flex-start

            .collapsible-section
                flex: 1

                button.collapsible
                    font-size: 24px
                    padding: 15px 20px
                .content
                    p
                        font-size: 18px
