//Kasa-app\src\styles\index.sass

// Variables
$font-family: Montserrat, sans-serif
$line-height: 1.5
$font-weight-normal: 500
$font-weight-bold: 500
$color-light: rgba(255, 255, 255, 0.87)
$background-dark: #000
$background-light: #FFF
$color-dark: #213547
$link-color: #FF6060
$link-hover-color: #FF6060
$link-hover-light: #F6F6F673
$button-bg-dark: #1a1a1a
$button-bg-light: #F6F6F673
$button-border-hover: #FF6060
$outline-color: -webkit-focus-ring-color
$primary-color: #FF6060
$text-color: #000000
$font-family: Montserrat

// Styles globaux
:root
  font-family: $font-family
  line-height: $line-height
  font-weight: $font-weight-normal
  color-scheme: light dark
  color: $color-light
  background-color: $background-light
  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Styles des liens
a
  color: $text-color
  text-align: right
  font-family: $font-family
  font-size: 0.75rem // 12px
  font-style: normal
  font-weight: 500
  line-height: 142.6%
  text-decoration: none

  &:hover
    color: $link-hover-color

// Styles du corps de la page
body
  margin: 0
  padding: 0
  display: flex
  place-items: center

// Styles des titres
h1
  font-family: Montserrat
  font-size: 1.5rem // 24px
  font-style: normal
  font-weight: 700
  line-height: 100%
// Styles des boutons
// Media query pour les écrans plus larges
@media only screen and (min-width: 481px)
  body
    margin: 0 6.25rem 0 6.25rem // 6.25em = 100px

  h1
    font-size: 3rem // 48px
    line-height: 142.6%

  a
    color: $text-color
    text-align: right
    font-family: $font-family
    font-size: 0.75rem // 12px
    font-style: normal
    font-weight: 500
    line-height: 142.6%
    text-decoration: none
