
.annonces-container
    padding: 20px
    max-width: 1440px
    margin: 0 auto
    //max-width: 1440px
    //height: 829px
    border-radius: 25px
    background: #F6F6F6
    display: flex
    justify-content: center
    flex-wrap: wrap
    overflow: hidden

.annonces-grid
    display: grid
    gap: 22px
    grid-template-columns: 1fr
    width: 100%
    &.desktop
        grid-template-columns: repeat(3, 1fr)

    &.mobile
        grid-template-columns: 1fr
        justify-items: center
        margin: 0 auto

.annonce-card
    position: relative
    border-radius: 10px
    width: 335px
    height: 255px

.annonce-image
    width: 335px
    height: 255px
    object-fit: cover
    flex-shrink: 0
    border-radius: 10px
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(10, 10, 10, 0.00) 42%, rgba(4, 4, 4, 0.20) 99.99%, rgba(0, 0, 0, 0.50) 100%)

.annonce-title
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 15px
    color: white
    //background: linear-gradient(transparent, rgba(0, 0, 0, 0.5))
    margin: 0
    font-size: 18px
    text-align: start

// Media queries pour les écrans plus larges
@media only screen and (min-width: 481px)
    .annonces-container
        padding: 46px 36PX

    .annonces-grid
        grid-template-columns: repeat(3, 1fr)
        gap: 60px 50px

    .annonce-image
        width: 340px
        height: 340px

    .annonce-card
        width: 340px
        height: 340px
